<% provide(:title, 'About us') %>


<div class="row">
  <div class="span6 offset3">
    <div class="about">
      <h1>About us</h1>
      <p>We are just a non-prophet organization</p>
    </div>
  </div>
</div>
<%=link_to image_tag("EarthFromSpace.jpg"), "https://www.google.com/#q=atheists", target: "_blank"%>
</body>
</html>

