<div class="welcome">
  <div class="block1">
    <h1>Are you a <span>proud atheist?</span> Make it official!</h1>
     <h3>The world needs your voice</h3>
     <br/>
    <p>It's easy, free and fun</p>
  </div>
  <br/>
  <div class="block2">
    <%= link_to "Become a signatory", signup_path, class: "btn btn-large btn-primary" %> <br />
    <br />

    <p><%= link_to "Read the manifesto", manifesto_path %></p>
    <p><%= link_to "View Signatories", signatories_path %></p>

  </div>
</div>




<!--
    <p>Sign up. Speak up. Join the movement.</p>
  </div>
</div> -->
