<div class="center hero-unit">
  <h1>Are you a proud atheist? Make it official!</h1>
  <h2>The world needs your voice</h2>
  <p>Sign up. Speak up. Join the movement.
  </p>
  <%= link_to "Read the manifesto", manifesto_path %> <br />
  <%= link_to "Become a signatory", signup_path, class: "btn btn-large btn-primary" %>
</div>

 <!--  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->


