<% provide(:title, 'Manifesto')%>

<div class="row">
  <div class="span10 offset1">
    <h1>An Atheist Manifesto</h1>
    <div class="manifesto">
      <p>Our belief is not a belief. Our principles are not a faith. We do not rely soley upon science and reason, because these are necessary rather than sufficient factors, but we distrust anything that contradicts science or outrages reason. We may differ on many things, but what we respect is free inquiry, openmindedness, and the pursuit of ideas for their own sake.</p>

      <p>We believe that we have a choice. We have two options as human beings. We have a choice between conversation and war. That's it. Conversation and violence. And faith is a conversation stopper. </p>

      <p>We believe that to terrify children with the image of hell or to consider women an inferior creation is not good for the world.</p>

      <p>We are accepting of full and equal rights for gays, women, and other marginalized groups. </p>

      <p>We are interested in how we treat others and what we do to make the world a better place, rather than equating morality with religion</p>

      <p>We are aware of the fact that many religions come before us with ingratiating smirks and outspread hands, like an unctuous merchant in a bazaar. They offer consolation and solidarity and uplift, competing as they do in a marketplace. But we have a right to remember how barbarically they behaved when they were strong and were making an offer that people could not refuse. And how barbarically they still behave in places where they are still strong and remain the only option.</p>

      <p>Because we are all atheists about most of the gods that humanity has ever believed in. Some of us just go one god further.</p>

    </div>
    <br />
    <div class="btn-center">
      <%= link_to "Become a signatory", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>

</body>
</html>