<% provide(:title, 'Manifesto')%>

<div class="row">
  <div class="span10 offset1">
    <h1>An Atheist Manifesto</h1>
    <div class="manifesto">
      <p>Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</p>
      <p>Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</p>
      <p>Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</p>
    </div>
    <br />
    <div class="btn-center">
      <%= link_to "Become a signatory", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>

</body>
</html>