<h1>Resources</h1>

<div class="row">
  <div class="span10 offset1">
    <div class="resources">
      <h3>Websites</h3>


      <ul>
        <li>AHA Foundation (Ayaan Hirsi Ali): <a href="http://www.theahafoundation.org">http://www.theahafoundation.org</a></li>
        <li>American Atheists: <a href="http://www.atheists.org">http://www.atheists.org</a></li>
        <li>Atheist Nexus: <a href="http://www.atheistnexus.org">http://www.atheistnexus.org</a></li>
        <li>Atheist Alliance International: <a href="http://www.atheistalliance.org/">http://www.atheistalliance.org/</a></li>
        <li>Richard Dawkins: <a href="http://www.richarddawkins.net">http://www.richarddawkins.net</a></li>
        <li>Dan Barker / Freedom From Religion Foundation: <a href="http://ffrf.org">http://ffrf.org</a></li>
        <li>Daniel Dennett: <a href="http://ase.tufts.edu/cogstud/incbios/dennettd/dennettd.htm">http://ase.tufts.edu/cogstud/incbios/dennettd/dennettd.htm</a></li>
        <li>God Is Imaginary: <a href="http://godisimaginary.com">http://godisimaginary.com</a></li>
        <li>James Randi Educational Foundation: <a href="http://www.randi.org">http://www.randi.org</a></li>
        <li>Julia Sweeney's "Letting Go of God": <a href="http://www.juliasweeney.com/letting_go_mini/index.html">http://www.juliasweeney.com/letting_go_mini/index.html</a></li>
        <li>Mr. Deity: <a href="http://www.mrdeity.com">http://www.mrdeity.com</a></li>
        <li>Pharyngula (PZ Myers): <a href="http://scienceblogs.com/pharyngula">http://scienceblogs.com/pharyngula</a></li>
        <li>Project Reason: <a href="http://www.project-reason.org">http://www.project-reason.org</a></li>
        <li>Sam Harris: <a href="http://www.samharris.org">http://www.samharris.org</a></li>
        <li>The Atheist Experience: <a href="http://www.atheist-experience.com">http://www.atheist-experience.com</a></li>
        <li>The Brick Testament: <a href="http://www.thebricktestament.com">http://www.thebricktestament.com</a></li>
        <li>The Friendly Atheist: <a href="http://friendlyatheist.com">http://friendlyatheist.com</a></li>
        <li>The Secular Web: <a href="http://www.infidels.org">http://www.infidels.org</a></li>
        <li>The Skeptic's Annotated Bible: <a href="http://skepticsannotatedbible.com">http://skepticsannotatedbible.com</a></li>
        <li>The Skeptics Society (Michael Shermer): <a href="http://www.skeptic.com">http://www.skeptic.com</a></li>
        <li>Why Won't God Heal Amputees: <a href="http://whywontgodhealamputees.com">http://whywontgodhealamputees.com</a></li>
      </ul>

      <h3>YouTube </h3>

      <ul>
        <li>AronRa: <a href="http://www.youtube.com/user/AronRa">http://www.youtube.com/user/AronRa</a></li>
        <li>Best of Science: <a href="http://www.youtube.com/user/Best0fScience">http://www.youtube.com/user/Best0fScience</a></li>
        <li>DarkMatter2525: <a href="http://www.youtube.com/user/DarkMatter2525">http://www.youtube.com/user/DarkMatter2525</a></li>
        <li>Dawkins Channel:<a href="http://www.youtube.com/user/dawkinschannel">http://www.youtube.com/user/dawkinschannel</a> </li>
        <li>Edward Current: <a href="http://www.youtube.com/user/EdwardCurrent">http://www.youtube.com/user/EdwardCurrent</a></li>
        <li>Evid3nc3: <a href="http://www.youtube.com/user/Evid3nc3">http://www.youtube.com/user/Evid3nc3</a></li>
        <li>FFreeThinker: <a href="http://www.youtube.com/user/FFreeThinker">http://www.youtube.com/user/FFreeThinker</a></li>
        <li>Hitchens Channel: <a href="http://www.youtube.com/user/hitchenschannel">http://www.youtube.com/user/hitchenschannel</a></li>
        <li>James Randi: <a href="http://www.youtube.com/user/JamesRandiFoundation">http://www.youtube.com/user/JamesRandiFoundation</a></li>
        <li>Michael Shermer: <a href="http://www.youtube.com/user/MichaelShermer">http://www.youtube.com/user/MichaelShermer</a></li>
        <li>Non Stamp Collector: <a href="http://www.youtube.com/user/NonStampCollector">http://www.youtube.com/user/NonStampCollector</a></li>
        <li>Pat Condell: <a href="http://www.youtube.com/user/patcondell">http://www.youtube.com/user/patcondell</a></li>
        <li>The Atheist Experience: <a href="http://www.youtube.com/user/TheAtheistExperience">http://www.youtube.com/user/TheAtheistExperience</a></li>
        <li>Thunderf00t: <a href="http://www.youtube.com/user/Thunderf00t">http://www.youtube.com/user/Thunderf00t</a></li>

      </ul>
    </div>
  </div>
</div>

