<div class="row">
  <div class="span7 offset3">
    <div class="users">
      <h1>List of signatories</h1>
      <h3><%= @number_of_users %> atheists and counting</h3>
    <% @users.each do |user| %>
    <p><%= user.name %> from <%= user.country %> quit <%= user.religion %> </p>
    <% end %>
    </div>
</div>
</div>