<footer class="footer">
  <small>
    Made with <font color="red">♥</font> in the godless borough of Brooklyn
 </small>
 <nav>
  <ul>
   <li><%= link_to "About us",    about_path %></li>
   <li><%= link_to "Contact",     contact_path %></li>
   <li><%= link_to "Resources",     resources_path %></li>
 </ul>
</nav>
</footer>


