<footer class="footer">
  <small>
   <!--    Atheist Manifesto by <a href="http://diegopalma.com">Diego Palma</a> -->
 </small>
 <nav>
  <ul>
   <li><%= link_to "About us",    about_path %></li>
   <li><%= link_to "Contact",     contact_path %></li>
   <li><%= link_to "Resources",     resources_path %></li>
 </ul>
</nav>
</footer>